{% extends "layout.html" %}

{% block content %}
<section class = "title mb-0">
  <div class="container-fluid p-0 m-0 ">
      <div class=" main-header p-5 pb-2 text-center mw-100 ">
        <h1 class = "mw-100"><strong>Editing is boring.</strong></h1>
      </div>

      <div class="secondary-header p-1 text-center ">
        <h2 class = "">Let us help <strike class = 'you'>you</strike>.</h2>
      </div>
      <div class="tertiary-header p-1 text-center ">
        <h2 class = "">Harness the power of AI without sacrificing creativity.</h2>
      </div>

    <div class = " p-5">
        <h2 class = 'blurb'>Welcome to Succinct - where your words find their perfect balance. Tired of cumbersome editing tools that stifle your creativity? Say hello to effortless refinement with our AI-powered writing editor. Succinct doesn't just correct; it enhances.</h2>
    </div>
  </div>
  <br>
    <br>  <br>  <br>  <br>  <br>  <br>
</section>

















{% endblock %}