@font-face {
    font-family: 'Saint George';
    src: url('SaintGeorgeLowercaseStencil.woff2') format('woff2'),
        url('SaintGeorgeLowercaseStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

